# Node
frontend/node_modules/
frontend/dist/

# Maven build output
backend/target/

# 3D Model files (büyük dosyalar)
backend/src/main/resources/static/*.glb
backend/src/main/resources/static/*.gltf
backend/src/main/resources/static/*.fbx
backend/src/main/resources/static/*.obj

# OS
.DS_Store
Thumbs.db
